body{
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
    height: 100vh;
}

footer{
    display: flex;
    justify-content: center;
    padding: 8px;
    font-size: 18px;
    color: #999999;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    height: 85%;
    padding: 24px 16px;
}

#game_container{
    grid-column: 1/4;
}

#user_container{
    grid-column: auto;
}

/* stylos for game grid */

main #game_container{
    display: flex;
    flex-direction: column;
}

#game{
    height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr );
    place-items: center;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px 8px 0px 0px;
}

#game .container_item{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 75px;
    min-height: 75px;
    border-radius: 4px;
}

.item{
    border-radius: 50%;
    background-color: #7ac943;
    width: 50px;
    height: 50px;
}

.red{
    background-color: #fd0c49;
}

.green{
    background-color: #7ac943;
}

#game_title{
    background-color: #38384B;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    border-radius: 0px 0px 8px 8px;
}


/* form styles */

#user_container form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

form .item_form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-transform: capitalize;
}

/* style for avatar inpunt */
.item_form:first-child{
    display: flex;
    flex-direction: row;
    gap: 0px;
}

form img{
    height: 43px;
    background-color: #999999;
    border-radius: 4px 0px 0px 4px;
    padding: 2px 4px;
}

input{
    flex: 1;
    display: inline;
    border: 1px solid #BDBDBD;
    padding: 10px;
    border-radius: 0 5px 5px 0;
    font-weight: 400;
    font-size: 18px;
}

/* end form styles */

@media screen and (max-width: 950px){
    main{
        grid-template-columns: 1fr;
    }
    
    #game_container{
        height: 60vh;
    }

    #user_container{
        grid-column: 1/4;
        height: 40vh;
    }

}